<!DOCTYPE html>
<html>
  <head>
    <title>Tosaka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    <form class="form-inline">
      <footer>
        <div align="left"><a href="">このページについて</a></div>

        <div align="right"><a href="">ヘルプ</a></div>

        <%= link_to 'SIGN_OUT', destroy_user_session_path, method: :delete %>
      </footer>
    </form>
  </body>
</html>
